In [3]:
# Step 1: import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# get data
df_Employee = pd.read_csv("Employee_Cleaned1.csv")
df_performance = pd.read_csv("Performance_Cleaned1.csv")

In [5]:
## SALARY ANALYSIS
#  What is the average salary by age group? (rounded to whole numbers)

# Calculate the average salary for each age group
avg_salary_by_agegroup = (
    df_Employee.groupby('AgeGroup')['Salary']
    .mean()
    .round(0)                   # Round to whole numbers
    .astype(int)
    .reset_index(name='AverageSalary')
)

# Display the result
avg_salary_by_agegroup

  AgeGroup  AverageSalary
0    18-29          73955
1    30-39         177094
2    40-49         187792
3      50+         292651

In [6]:
# What is the average salary by department? (rounded to whole numbers)

# Calculate the average salary for each department
avg_salary_by_department = (
    df_Employee.groupby('Department')['Salary']
    .mean()
    .round(0)                     # Round to whole numbers
    .astype(int)                  # Convert to integer
    .reset_index(name='AverageSalary')
)

# Display the result
avg_salary_by_department

        Department  AverageSalary
0  Human Resources         119699
1            Sales         119566
2       Technology         108328

In [7]:
# What is the average salary by job role? (rounded to whole numbers)

# Calculate the average salary for each job role
avg_salary_by_jobrole = (
    df_Employee.groupby('JobRole')['Salary']
    .mean()
    .round(0)                     # Round to whole numbers
    .astype(int)                  # Convert to integer
    .reset_index(name='AverageSalary')
)

# Display the result
avg_salary_by_jobrole

                      JobRole  AverageSalary
0           Analytics Manager         346484
1              Data Scientist          53287
2         Engineering Manager         286259
3         HR Business Partner         314002
4                HR Executive          94362
5                  HR Manager         449331
6   Machine Learning Engineer         130165
7                     Manager         317531
8                   Recruiter          37648
9             Sales Executive         117196
10       Sales Representative          40656
11   Senior Software Engineer         126161
12          Software Engineer          50827

In [8]:
# What is the average salary by educational level? (rounded to whole numbers)
# Calculate average salary for each education level
avg_salary_by_education = (
    df_Employee.groupby('EducationLevel')['Salary']
    .mean()
    .round(0)                     # Round to whole numbers
    .astype(int)                  # Convert to integer
    .reset_index(name='AverageSalary')
)

# Display the result
avg_salary_by_education

             EducationLevel  AverageSalary
0                 Bachelors         115405
1                 Doctorate         154269
2               High School         103787
3                   Masters         115955
4  No Formal Qualifications          94983

In [9]:
#employee per salary level
df_salary_summary = (
    df_Employee
    .groupby('SalaryLevel')
    .agg(TotalEmployees=('EmployeeID', 'count'))
    .reset_index()
    .sort_values('SalaryLevel')
)

print(df_salary_summary)

  SalaryLevel  TotalEmployees
0        High             503
1         Low             486
2      Medium             481

In [10]:
##EMPLOYEE ANALYSIS

# How many employees are there in each department?
# Shows how employees are distributed across departments.

# Count number of employees in each Department
employees_per_department = (
    df_Employee['Department']
    .value_counts()                    # Count employees per department
    .reset_index()
    .rename(columns={'index': 'Department', 'Department': 'EmployeeCount'})
)

# Display the result
employees_per_department

     EmployeeCount  count
0       Technology    960
1            Sales    447
2  Human Resources     63

In [11]:
# What is the distribution of employees by age group?
# Reveals the companyâ€™s age structure and workforce balance.

# Count number of employees in each age group
age_distribution = (
    df_Employee['AgeGroup']
    .value_counts()
    .reset_index()
)

# Rename columns clearly
age_distribution.columns = ['AgeGroup', 'EmployeeCount']

# Sort by AgeGroup
age_distribution = age_distribution.sort_values(by='AgeGroup')

# Display the result
age_distribution

  AgeGroup  EmployeeCount
0    18-29            955
1    30-39            289
2    40-49            219
3      50+              7

In [12]:
# How many employees by gender?
# Highlights gender balance in the organization.

# Count number of employees by gender
gender_distribution = (
    df_Employee['Gender']
    .value_counts()
    .reset_index()
)

# Rename columns clearly
gender_distribution.columns = ['Gender', 'EmployeeCount']

# Add percentage of each gender
gender_distribution['Percentage'] = (
    (gender_distribution['EmployeeCount'] / gender_distribution['EmployeeCount'].sum()) * 100
).round(1)

# Display the result
gender_distribution

              Gender  EmployeeCount  Percentage
0             Female            675        45.9
1               Male            651        44.3
2         Non-Binary            124         8.4
3  Prefer Not To Say             20         1.4

In [13]:
# How many employees are in each job role?
# Shows workforce distribution across job positions.

# Count number of employees by job role
jobrole_distribution = (
    df_Employee['JobRole']
    .value_counts()
    .reset_index()
)

# Rename columns clearly
jobrole_distribution.columns = ['JobRole', 'EmployeeCount']

# Add percentage of each job role
jobrole_distribution['Percentage'] = (
    (jobrole_distribution['EmployeeCount'] / jobrole_distribution['EmployeeCount'].sum()) * 100
).round(1)

# Display the result
jobrole_distribution

                      JobRole  EmployeeCount  Percentage
0             Sales Executive            327        22.2
1           Software Engineer            294        20.0
2              Data Scientist            261        17.8
3   Machine Learning Engineer            146         9.9
4    Senior Software Engineer            132         9.0
5        Sales Representative             83         5.6
6         Engineering Manager             75         5.1
7           Analytics Manager             52         3.5
8                     Manager             37         2.5
9                HR Executive             28         1.9
10                  Recruiter             24         1.6
11        HR Business Partner              7         0.5
12                 HR Manager              4         0.3

In [14]:
# What is the total number of employees in each State?
# Shows how employees are distributed across states.

# Count employees per state
employees_per_state = (
    df_Employee['State']
    .value_counts()
    .reset_index()
)

# Rename columns clearly
employees_per_state.columns = ['State', 'EmployeeCount']

# Sort by EmployeeCount descending
employees_per_state = employees_per_state.sort_values(by='EmployeeCount', ascending=False)

# Display the result
employees_per_state

  State  EmployeeCount
0    CA            875
1    NY            419
2    IL            176

In [15]:
# What is the total number of employees in each Education Field?
# Shows how employees are distributed by their education specialization.

education_count = (
    df_Employee['EducationField']
    .value_counts()
    .reset_index()
)

# Rename columns clearly
education_count.columns = ['EducationField', 'EmployeeCount']

# Sort by EmployeeCount descending
education_count = education_count.sort_values(by='EmployeeCount', ascending=False)

# Display the result
education_count

        EducationField  EmployeeCount
0     Computer Science            440
1  Information Systems            363
2            Marketing            325
3            Economics            101
4     Business Studies             94
5                Other             82
6     Technical Degree             38
7      Human Resources             27

In [16]:
# What is the total number of employees by Education Level?
# Shows how employees are distributed across different education levels.

education_level_count = (
    df_Employee['EducationLevel']
    .value_counts()
    .reset_index()
)

# Rename columns clearly
education_level_count.columns = ['EducationLevel', 'EmployeeCount']

# Sort by EmployeeCount descending
education_level_count = education_level_count.sort_values(by='EmployeeCount', ascending=False)

# Display the result
education_level_count

             EducationLevel  EmployeeCount
0                 Bachelors            572
1                   Masters            398
2               High School            282
3  No Formal Qualifications            170
4                 Doctorate             48

In [17]:
# How many employees are married, single, or divorced?
# Shows the marital status breakdown of employees.

# Count number of employees by marital status
marital_status_distribution = (
    df_Employee['MaritalStatus']
    .value_counts()
    .reset_index()
)

# Rename columns clearly
marital_status_distribution.columns = ['MaritalStatus', 'EmployeeCount']

# Add percentage of each marital status
marital_status_distribution['Percentage'] = (
    (marital_status_distribution['EmployeeCount'] / marital_status_distribution['EmployeeCount'].sum()) * 100
).round(1)

# Display the result
marital_status_distribution

  MaritalStatus  EmployeeCount  Percentage
0       Married            624        42.4
1        Single            549        37.3
2      Divorced            297        20.2

In [20]:
#part of attrition 
#	How does age group influence employee attrition within the company?
#Business Insight Goal: Understand which age groups are most vulnerable to leaving the organization to design age-specific engagement and retention initiatives.

age_attrition = (
    df_Employee
    .groupby("AgeGroup", observed=True)
    .agg(
        TotalEmployees=("EmployeeID", "count"),
        AttritionCount=("Attrition", lambda x: (x == "Yes").sum())
    )
    .reset_index()
)

age_attrition["AttritionRate (%)"] = round(
    (age_attrition["AttritionCount"] / age_attrition["TotalEmployees"]) * 100, 2
)

age_attrition.sort_values("AttritionRate (%)", ascending=False, inplace=True)
print("===  AgeGroup vs Attrition ===")

print(age_attrition)

===  AgeGroup vs Attrition ===
  AgeGroup  TotalEmployees  AttritionCount  AttritionRate (%)
0    18-29             955             195              20.42
1    30-39             289              27               9.34
2    40-49             219              15               6.85
3      50+               7               0               0.00

In [21]:
#	Does the department have an impact on the attrition rate?
dept_attrition = (
    df_Employee
    .groupby("Department", observed=True)
    .agg(
        TotalEmployees=("EmployeeID", "count"),
        AttritionCount=("Attrition", lambda x: (x == "Yes").sum())
    )
    .reset_index()
)

dept_attrition["AttritionRate (%)"] = round(
    (dept_attrition["AttritionCount"] / dept_attrition["TotalEmployees"]) * 100, 2
)
dept_attrition.sort_values("AttritionRate (%)", ascending=False, inplace=True)
print("=== Department vs Attrition ===")
print(dept_attrition)

=== Department vs Attrition ===
        Department  TotalEmployees  AttritionCount  AttritionRate (%)
1            Sales             447              92              20.58
0  Human Resources              63              12              19.05
2       Technology             960             133              13.85

In [22]:
#Does marital status (Single, Married, Divorced) affect the likelihood of attrition?
marital_attrition = (
    df_Employee
    .groupby("MaritalStatus", observed=True)
    .agg(
        TotalEmployees=("EmployeeID", "count"),
        AttritionCount=("Attrition", lambda x: (x == "Yes").sum())
    )
    .reset_index()
)

marital_attrition["AttritionRate (%)"] = round(
    (marital_attrition["AttritionCount"] / marital_attrition["TotalEmployees"]) * 100, 2
)
marital_attrition.sort_values("AttritionRate (%)", ascending=False, inplace=True)
print("=== MaritalStatus vs Attrition ===")
print(marital_attrition)

=== MaritalStatus vs Attrition ===
  MaritalStatus  TotalEmployees  AttritionCount  AttritionRate (%)
2        Single             549             128              23.32
1       Married             624              79              12.66
0      Divorced             297              30              10.10

In [23]:
#	Does the frequency of business travel increase the chances of employee turnover?
travel_attrition = (
    df_Employee
    .groupby("BusinessTravel", observed=True)
    .agg(
        TotalEmployees=("EmployeeID", "count"),
        AttritionCount=("Attrition", lambda x: (x == "Yes").sum())
    )
    .reset_index()
)
travel_attrition["AttritionRate (%)"] = round(
    (travel_attrition["AttritionCount"] / travel_attrition["TotalEmployees"]) * 100, 2
)

travel_attrition.sort_values("AttritionRate (%)", ascending=False, inplace=True)
print("=== BusinessTravel vs Attrition ===")
print(travel_attrition)

=== BusinessTravel vs Attrition ===
       BusinessTravel  TotalEmployees  AttritionCount  AttritionRate (%)
0  Frequent Traveller             277              69              24.91
2         Some Travel            1043             156              14.96
1           No Travel             150              12               8.00

In [24]:
#Are there differences in attrition rates across different states?
state_attrition = (
    df_Employee
    .groupby("State", observed=True)
    .agg(
        TotalEmployees=("EmployeeID", "count"),
        AttritionCount=("Attrition", lambda x: (x == "Yes").sum())
    )
    .reset_index()
)

state_attrition["AttritionRate (%)"] = round(
    (state_attrition["AttritionCount"] / state_attrition["TotalEmployees"]) * 100, 2
)
state_attrition.sort_values("AttritionRate (%)", ascending=False, inplace=True)
print("=== State vs Attrition ===")
print(state_attrition)

=== State vs Attrition ===
  State  TotalEmployees  AttritionCount  AttritionRate (%)
0    CA             875             153              17.49
1    IL             176              26              14.77
2    NY             419              58              13.84

In [25]:
#	Which job roles have the highest attrition rates?
jobrole_attrition = (
    df_Employee
    .groupby("JobRole", observed=True)
    .agg(
        TotalEmployees=("EmployeeID", "count"),
        AttritionCount=("Attrition", lambda x: ((x == 1) | (x == "Yes")).sum())
    )
    .reset_index()
)
jobrole_attrition["AttritionRatePercent"] = round(
    100 * jobrole_attrition["AttritionCount"] / jobrole_attrition["TotalEmployees"], 2
)
jobrole_attrition = jobrole_attrition.sort_values(by="AttritionRatePercent", ascending=False)
print("=== JobRole vs Attrition ===")
print(jobrole_attrition)

=== JobRole vs Attrition ===
                      JobRole  TotalEmployees  AttritionCount  \
10       Sales Representative              83              33
8                   Recruiter              24               9
1              Data Scientist             261              62
9             Sales Executive             327              57
12          Software Engineer             294              47
4                HR Executive              28               3
6   Machine Learning Engineer             146              10
11   Senior Software Engineer             132               9
0           Analytics Manager              52               3
7                     Manager              37               2
2         Engineering Manager              75               2
3         HR Business Partner               7               0
5                  HR Manager               4               0

    AttritionRatePercent
10                 39.76
8                  37.50
1                  23.75
9                  17.43
12                 15.99
4                  10.71
6                   6.85
11                  6.82
0                   5.77
7                   5.41
2                   2.67
3                   0.00
5                   0.00

In [26]:
#Do employees who work overtime have higher attrition rates compared to those who do not?

def to_binary_yesno(series):
    return series.fillna("No") \
                 .astype(str) \
                 .str.strip() \
                 .str.lower() \
                 .map({"yes": 1, "y": 1, "true": 1, "1": 1,
                       "no": 0, "n": 0, "false": 0, "0": 0}) \
                 .fillna(0).astype(int)

df_Employee["Attrition_bin"] = to_binary_yesno(df_Employee["Attrition"])
df_Employee["OverTime_bin"]  = to_binary_yesno(df_Employee["OverTime"])

df_Employee["OverTime_label"] = df_Employee["OverTime"].astype(str).str.strip()

result = (
    df_Employee.groupby("OverTime_label")
      .agg(
          TotalEmployees = ("EmployeeID", "count"),
          AttritionCount = ("Attrition_bin", "sum")
      )
      .reset_index()
)

result["AttritionRatePercent"] = (
    result["AttritionCount"] / result["TotalEmployees"] * 100
).round(2)

print(result)

  OverTime_label  TotalEmployees  AttritionCount  AttritionRatePercent
0             No            1054             110                 10.44
1            Yes             416             127                 30.53

In [27]:
# Function to convert yes/no or 1/0 to binary (already defined)
def to_binary_yesno(series):
    return series.fillna("No") \
                 .astype(str) \
                 .str.strip() \
                 .str.lower() \
                 .map({"yes": 1, "y": 1, "true": 1, "1": 1,
                       "no": 0, "n": 0, "false": 0, "0": 0}) \
                 .fillna(0).astype(int)

# Convert Attrition to binary if not already
df_Employee["Attrition_bin"] = to_binary_yesno(df_Employee["Attrition"])

# Ensure SalaryLevel is clean
df_Employee["SalaryLevel_label"] = df_Employee["SalaryLevel"].astype(str).str.strip()

# Group by Salary Level
result_salary = (
    df_Employee.groupby("SalaryLevel_label")
      .agg(
          TotalEmployees=("EmployeeID", "count"),
          AttritionCount=("Attrition_bin", "sum")
      )
      .reset_index()
)

# Calculate attrition rate %
result_salary["AttritionRatePercent"] = (
    result_salary["AttritionCount"] / result_salary["TotalEmployees"] * 100
).round(2)

print(result_salary)

  SalaryLevel_label  TotalEmployees  AttritionCount  AttritionRatePercent
0              High             503              74                 14.71
1               Low             486              82                 16.87
2            Medium             481              81                 16.84

In [28]:
#Retirement Forecast
# Calculate RetirementYear
df_Employee['RetirementYear'] = (2023 - df_Employee['Age']) + 65

# Group and count
df_retirement = (
    df_Employee
    .groupby('RetirementYear')
    .agg(EmployeesRetiring=('EmployeeID', 'count'))
    .reset_index()
    .sort_values('RetirementYear')
)

print(df_retirement)

    RetirementYear  EmployeesRetiring
0             2037                  1
1             2038                  6
2             2039                  4
3             2040                 22
4             2041                 23
5             2042                 15
6             2043                 19
7             2044                 22
8             2045                 32
9             2046                 24
10            2047                 25
11            2048                 33
12            2049                 23
13            2050                 23
14            2051                 19
15            2052                 32
16            2053                 30
17            2054                 22
18            2055                 24
19            2056                 40
20            2057                 32
21            2058                 44
22            2059                 46
23            2060                 74
24            2061                 83
25            2062                102
26            2063                129
27            2064                127
28            2065                 90
29            2066                 88
30            2067                 90
31            2068                 45
32            2069                 55
33            2070                 26

In [29]:
#part of overview
#What is the level of employee satisfaction regarding the environment,
#job, relationships, and work-life balance?

latest_review_dates = df_performance.groupby('EmployeeID')['ReviewDate'].max().reset_index()

latest_data = pd.merge(df_performance, latest_review_dates,
                       left_on=['EmployeeID', 'ReviewDate'],
                       right_on=['EmployeeID', 'ReviewDate'],
                       how='inner')


satisfaction_cols = [
    'WorkLifeBalanceSatisfaction',
    'EnvironmentSatisfactionLevel',
    'JobSatisfactionLevel',
    'RelationshipSatisfactionLevel'
]

unpivoted = latest_data.melt(
    id_vars=['EmployeeID'],
    value_vars=satisfaction_cols,
    var_name='SatisfactionType',
    value_name='SatisfactionLevel'  
)

total_employees = latest_data['EmployeeID'].nunique()

result = (
    unpivoted.groupby(['SatisfactionType', 'SatisfactionLevel'])
             .size()
             .reset_index(name='EmployeeCount')
)

result['Percentage'] = round(100 * result['EmployeeCount'] / total_employees, 2)

print(result)

                 SatisfactionType  SatisfactionLevel  EmployeeCount  \
0    EnvironmentSatisfactionLevel       Dissatisfied             48
1    EnvironmentSatisfactionLevel            Neutral            403
2    EnvironmentSatisfactionLevel          Satisfied            370
3    EnvironmentSatisfactionLevel  Very Dissatisfied             43
4    EnvironmentSatisfactionLevel     Very Satisfied            305
5            JobSatisfactionLevel       Dissatisfied            281
6            JobSatisfactionLevel            Neutral            303
7            JobSatisfactionLevel          Satisfied            294
8            JobSatisfactionLevel  Very Dissatisfied             36
9            JobSatisfactionLevel     Very Satisfied            255
10  RelationshipSatisfactionLevel       Dissatisfied            317
11  RelationshipSatisfactionLevel            Neutral            258
12  RelationshipSatisfactionLevel          Satisfied            301
13  RelationshipSatisfactionLevel  Very Dissatisfied             45
14  RelationshipSatisfactionLevel     Very Satisfied            248
15    WorkLifeBalanceSatisfaction       Dissatisfied            285
16    WorkLifeBalanceSatisfaction            Neutral            273
17    WorkLifeBalanceSatisfaction          Satisfied            321
18    WorkLifeBalanceSatisfaction  Very Dissatisfied             34
19    WorkLifeBalanceSatisfaction     Very Satisfied            256

    Percentage
0         4.11
1        34.47
2        31.65
3         3.68
4        26.09
5        24.04
6        25.92
7        25.15
8         3.08
9        21.81
10       27.12
11       22.07
12       25.75
13        3.85
14       21.21
15       24.38
16       23.35
17       27.46
18        2.91
19       21.90

In [30]:
#How has the companyâ€™s hiring trend changed over the years,
#and which years recorded the highest number of new hires?

df_Employee["HireDate"] = pd.to_datetime(df_Employee["HireDate"], errors="coerce")

df_Employee["Hire_Year"] = df_Employee["HireDate"].dt.year

hiring_trend = df_Employee.groupby("Hire_Year")["EmployeeID"].count().reset_index(name="Hires")

print(hiring_trend)

    Hire_Year  Hires
0        2012    151
1        2013    136
2        2014    136
3        2015    127
4        2016    114
5        2017    106
6        2018    136
7        2019    145
8        2020    127
9        2021    137
10       2022    155

In [31]:
#How has employee attrition varied across the years,
#and were there any noticeable increases or declines in certain periods?

df_Employee['CurrentDate'] = pd.to_datetime(df_Employee['CurrentDate'])
df_Employee['Year'] = df_Employee['CurrentDate'].dt.year
df_attrition = df_Employee[df_Employee['Attrition'] == 'Yes']
attrition_per_year = df_attrition.groupby('Year')['EmployeeID'].count().reset_index()
#rename
attrition_per_year.rename(columns={'EmployeeID':'AttritionCount'}, inplace=True)

print(attrition_per_year)

   Year  AttritionCount
0  2013               2
1  2014              10
2  2015              11
3  2016              12
4  2017              14
5  2018              21
6  2019              21
7  2020              32
8  2021              60
9  2022              54

In [32]:
#How are employees distributed by gender?

df_Employee['Gender'] = df_Employee['Gender'].apply(lambda x: x if x in ['Male', 'Female'] else 'Other')


gender_count = df_Employee['Gender'].value_counts().reset_index()
gender_count.columns = ['Gender', 'Count']


gender_count['Percentage'] = round((gender_count['Count'] / gender_count['Count'].sum()) * 100, 2)


gender_count = gender_count[['Gender', 'Count', 'Percentage']]

gender_count

   Gender  Count  Percentage
0  Female    675       45.92
1    Male    651       44.29
2   Other    144        9.80

In [33]:
#Which gender group has the highest attrition rate?
df_Employee["Gender"] = df_Employee["Gender"].apply(lambda x: x if x in ["Male", "Female"] else "Other")


df_attrition = df_Employee[df_Employee["Attrition"] == "Yes"]


attrition_counts = df_attrition.groupby("Gender")["EmployeeID"].count().reset_index(name="Count")


total_attritions = attrition_counts["Count"].sum()
attrition_counts["Percentage"] = (attrition_counts["Count"] / total_attritions * 100).round(2)
attrition_counts

   Gender  Count  Percentage
0  Female    104       43.88
1    Male    114       48.10
2   Other     19        8.02

In [34]:
#What is the percentage of employees in each OverTime category relative to the total number of employees?
overtime_count = df_Employee['OverTime'].value_counts().reset_index()
overtime_count.columns = ['OverTime', 'Count']
overtime_count['Percentage'] = round((overtime_count['Count'] / overtime_count['Count'].sum()) * 100, 2)
overtime_count = overtime_count[['OverTime', 'Count', 'Percentage']]
overtime_count

  OverTime  Count  Percentage
0       No   1054        71.7
1      Yes    416        28.3

In [45]:
##part of performance
# Performance Distribution by Job Role
# --- 1. Get the latest performance record per employee ---
latest_rating = (
    df_performance.sort_values('ReviewDate')
    .groupby('EmployeeID')
    .tail(1)   # keep only latest review
)

# --- 2. Merge latest rating with employee table to get JobRole ---
latest_rating = latest_rating.merge(
    df_Employee[['EmployeeID', 'JobRole']],
    on='EmployeeID',
    how='left'
)

# --- 3. Count employees per Job Role and Rating ---
performance_per_jobrole = (
    latest_rating
    .groupby(['JobRole', 'ManagerRating'], observed=True)
    .agg(EmployeeCount=('EmployeeID', 'nunique'))
    .reset_index()
    .sort_values(['JobRole', 'ManagerRating'])
)

# Display result
print("=== Performance Rating per Job Role (Latest Only) ===")
print(performance_per_jobrole)

=== Performance Rating per Job Role (Latest Only) ===
                      JobRole  ManagerRating  EmployeeCount
0           Analytics Manager              2             10
1           Analytics Manager              3             13
2           Analytics Manager              4             18
3           Analytics Manager              5              5
4              Data Scientist              2             27
5              Data Scientist              3             75
6              Data Scientist              4             66
7              Data Scientist              5             42
8         Engineering Manager              2             11
9         Engineering Manager              3             33
10        Engineering Manager              4             16
11        Engineering Manager              5              7
12        HR Business Partner              3              2
13        HR Business Partner              4              2
14        HR Business Partner              5              1
15               HR Executive              2              5
16               HR Executive              3              8
17               HR Executive              4              5
18               HR Executive              5              4
19                 HR Manager              2              1
20                 HR Manager              4              1
21                 HR Manager              5              1
22  Machine Learning Engineer              2             19
23  Machine Learning Engineer              3             34
24  Machine Learning Engineer              4             38
25  Machine Learning Engineer              5             20
26                    Manager              2              7
27                    Manager              3              8
28                    Manager              4             11
29                    Manager              5              4
30                  Recruiter              2              2
31                  Recruiter              3              6
32                  Recruiter              4              5
33                  Recruiter              5              5
34            Sales Executive              2             44
35            Sales Executive              3             87
36            Sales Executive              4             82
37            Sales Executive              5             47
38       Sales Representative              2             10
39       Sales Representative              3             30
40       Sales Representative              4             14
41       Sales Representative              5              5
42   Senior Software Engineer              2             24
43   Senior Software Engineer              3             36
44   Senior Software Engineer              4             36
45   Senior Software Engineer              5             11
46          Software Engineer              2             45
47          Software Engineer              3             81
48          Software Engineer              4             71
49          Software Engineer              5             34

In [49]:
#performance per overtime
# 1. Keep only latest review per employee
latest_rating = (
    df_performance.sort_values('ReviewDate')
    .groupby('EmployeeID')
    .tail(1)
)

# 2. Merge with Employee table to get JobRole and OverTime
latest_rating = latest_rating.merge(
    df_Employee[['EmployeeID', 'OverTime']],
    on='EmployeeID',
    how='left'
)

# 3. Count employees per JobRole, RatingLevel, and OverTime
performance_per_role = (
    latest_rating
    .groupby([ 'RatingLevel', 'OverTime'], observed=True)
    .agg(TotalEmployees=('EmployeeID', 'nunique'))
    .reset_index()
    .sort_values([ 'RatingLevel', 'OverTime'])
)

print(performance_per_role)

           RatingLevel OverTime  TotalEmployees
0     Above and Beyond       No             142
1     Above and Beyond      Yes              44
2  Exceeds Expectation       No             259
3  Exceeds Expectation      Yes             106
4    Meets Expectation       No             291
5    Meets Expectation      Yes             122
6    Needs Improvement       No             147
7    Needs Improvement      Yes              58

In [52]:
#performance per salaryLevel
# 1. Keep only latest performance record per employee
latest_rating = (
    df_performance.sort_values('ReviewDate')
    .groupby('EmployeeID')
    .tail(1)
)

# 2. Merge with Employee table to get JobRole and SalaryLevel
latest_rating = latest_rating.merge(
    df_Employee[['EmployeeID', 'SalaryLevel']],
    on='EmployeeID',
    how='left'
)

# 3. Count employees per JobRole, RatingLevel, and SalaryLevel
performance_per_salary = (
    latest_rating
    .groupby([ 'SalaryLevel', 'RatingLevel'], observed=True)
    .agg(TotalEmployees=('EmployeeID', 'nunique'))
    .reset_index()
    .sort_values(['SalaryLevel', 'RatingLevel'])
)

print(performance_per_salary)

   SalaryLevel          RatingLevel  TotalEmployees
0         High     Above and Beyond              60
1         High  Exceeds Expectation             150
2         High    Meets Expectation             146
3         High    Needs Improvement              71
4          Low     Above and Beyond              60
5          Low  Exceeds Expectation             100
6          Low    Meets Expectation             122
7          Low    Needs Improvement              72
8       Medium     Above and Beyond              66
9       Medium  Exceeds Expectation             115
10      Medium    Meets Expectation             145
11      Medium    Needs Improvement              62

In [59]:
#promotion and action recomendation by job role
# Keep only latest performance record per employee
latest_perf = (
    df_performance.sort_values('ReviewDate')
    .groupby('EmployeeID')
    .tail(1)
)

# Merge with Employee table to get JobRole and YearsSinceLastPromotion
latest_perf = latest_perf.merge(
    df_Employee[['EmployeeID', 'JobRole', 'YearsSinceLastPromotion']],
    on='EmployeeID',
    how='left'
)

# Define Promotion Status based on ManagerRating and YearsSinceLastPromotion
conditions = [
    (latest_perf['ManagerRating'] > 4) & (latest_perf['YearsSinceLastPromotion'] > 3),
    (latest_perf['ManagerRating'] > 4) & (latest_perf['YearsSinceLastPromotion'] <= 3),
    (latest_perf['ManagerRating'] >= 3),
    (latest_perf['ManagerRating'] < 3)
]

choices = [
    "Ready for Promotion",
    "Recently Promoted",
    "Needs Development",
    "At Risk / Consider Exit"
]

latest_perf['PromotionStatus'] = np.select(conditions, choices, default='Unknown')

# Count employees per JobRole and PromotionStatus
promotion_per_role = (
    latest_perf.groupby(['JobRole', 'PromotionStatus'], observed=True)
    .agg(TotalEmployees=('EmployeeID', 'nunique'))
    .reset_index()
    .sort_values(['JobRole', 'PromotionStatus'])
)

print(promotion_per_role)

                      JobRole          PromotionStatus  TotalEmployees
0           Analytics Manager  At Risk / Consider Exit              10
1           Analytics Manager        Needs Development              31
2           Analytics Manager      Ready for Promotion               1
3           Analytics Manager        Recently Promoted               4
4              Data Scientist  At Risk / Consider Exit              27
5              Data Scientist        Needs Development             141
6              Data Scientist      Ready for Promotion              25
7              Data Scientist        Recently Promoted              17
8         Engineering Manager  At Risk / Consider Exit              11
9         Engineering Manager        Needs Development              49
10        Engineering Manager      Ready for Promotion               3
11        Engineering Manager        Recently Promoted               4
12        HR Business Partner        Needs Development               4
13        HR Business Partner      Ready for Promotion               1
14               HR Executive  At Risk / Consider Exit               5
15               HR Executive        Needs Development              13
16               HR Executive      Ready for Promotion               2
17               HR Executive        Recently Promoted               2
18                 HR Manager  At Risk / Consider Exit               1
19                 HR Manager        Needs Development               1
20                 HR Manager      Ready for Promotion               1
21  Machine Learning Engineer  At Risk / Consider Exit              19
22  Machine Learning Engineer        Needs Development              72
23  Machine Learning Engineer      Ready for Promotion               9
24  Machine Learning Engineer        Recently Promoted              11
25                    Manager  At Risk / Consider Exit               7
26                    Manager        Needs Development              19
27                    Manager      Ready for Promotion               2
28                    Manager        Recently Promoted               2
29                  Recruiter  At Risk / Consider Exit               2
30                  Recruiter        Needs Development              11
31                  Recruiter      Ready for Promotion               2
32                  Recruiter        Recently Promoted               3
33            Sales Executive  At Risk / Consider Exit              44
34            Sales Executive        Needs Development             169
35            Sales Executive      Ready for Promotion              21
36            Sales Executive        Recently Promoted              26
37       Sales Representative  At Risk / Consider Exit              10
38       Sales Representative        Needs Development              44
39       Sales Representative      Ready for Promotion               2
40       Sales Representative        Recently Promoted               3
41   Senior Software Engineer  At Risk / Consider Exit              24
42   Senior Software Engineer        Needs Development              72
43   Senior Software Engineer      Ready for Promotion               7
44   Senior Software Engineer        Recently Promoted               4
45          Software Engineer  At Risk / Consider Exit              45
46          Software Engineer        Needs Development             152
47          Software Engineer      Ready for Promotion              18
48          Software Engineer        Recently Promoted              16

In [5]:
# How many employees fall into each performance rating category?
# Displays how performance ratings are spread among employees (latest rating per employee).

# Get the latest performance record for each employee
latest_rating = (
    df_performance.sort_values('ReviewDate')
    .groupby('EmployeeID')
    .tail(1)  # keep only the latest review
)

# Count employees per rating category
employees_per_rating = (
    latest_rating['ManagerRating']
    .value_counts()
    .reset_index()
)

# Rename columns clearly
employees_per_rating.columns = ['ManagerRating', 'EmployeeCount']

# Sort by rating value
employees_per_rating = employees_per_rating.sort_values(by='ManagerRating')

# Display result
employees_per_rating

   ManagerRating  EmployeeCount
2              2            205
0              3            413
1              4            365
3              5            186